html {
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: 0px auto;
  text-align: center;
}
h1{
  color: rgb(8, 103, 180);
  padding: 2vh;
}
h2{
  color: black;
  padding: 2vh;
  font-size: 30px;
}
p{
  font-size: 20px;
}
strong{
  font-size: 22px;
  color: rgb(44, 43, 43);
}
.button2 {
  background-color: #f44336;
}
.button3 {
  background-color: green;
}
#map {
   height: 320px; 
  }
#body1 {
  background-image: radial-gradient(rgba(56, 252, 252, 0.822), rgb(137, 172, 173))
}
.column {
  float: left;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.815);
}
.column_sideL {
  float: left;
  width: 10%;
  background-color: transparent	;
}
.column_sideR {
  float: right;
  width: 10%;
  background-color: transparent;
}
#popisek {
  font-size: 10px;
}
#map {
  width: 50%;
  margin-left: 25%;
}